
body {
    background-color: bisque;
}

#square {
    background-color: pink;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
} 

.block {
    width: 20px;
    height:20px;
    position: absolute;
    display: block;
}
.stone {
    background-color: grey;
}

.water {
    background-color: blue;
}
